.box{
    height: 100px;
    width: 100%;
    background-color: rgb(129, 129, 129);
    margin-bottom: 25px;
}

.toggle {
    display: flex;
    align-items: center;
    margin: 20px 0px;
}

.toggle-text {
    font-size: 18px;
}

.toggle-btn {
    height: 40px;
    width: 70px;
    background-color: gray;
    border-radius: 30px;
    padding: 5px;
    margin: 0 10px;
}

.inner-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    transition: all 250ms;
}

.toggle-btn.toggled > .inner-circle {
    transform: translateX(30px);
    background-color: #333;
}

.unselected {
    opacity: 0.25;
}